.breadcrumbs-group {
  @apply bg-cyan-600;
  @apply pt-0 mt-0;
  @apply mb-8;
}

ul#breadcrumbs {
  @apply block;
  @apply text-gray-200;
  @apply list-none;
  @apply flex;
  @apply items-center;
  @apply gap-2;
  @apply p-4;
  @apply mx-8 my-0;
  @apply text-sm;

  li {
    @apply flex items-center;
  }

  li:not(:first-child)::before {
    content: "/";
    font-weight: 500;
    @apply pr-2;
    display: inline-block;
  }

  a {
    @apply text-gray-100;
    @apply font-normal;
    @apply tracking-tight;
    transition: color 0.2s ease-in-out;

    &:hover {
      @apply text-amber-500;
    }
  }
}
