@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

ul#breadcrumbs {
  @apply text-gray-500;
  @apply list-none;
  @apply flex;
  @apply items-center;
  @apply gap-8;
  @apply rounded-xl;
  @apply bg-blue-50;
  @apply p-4;
  @apply mx-0;

  a {
    @apply text-gray-600;
    transition: color 0.2s ease-in-out;

    &:hover {
      @apply text-blue-900;
    }
  }
}


.wp-block-term-description {
  @apply prose lg:prose-xl;
  @apply text-gray-700;
  @apply text-xl;
}

.category-long-description {
  @apply prose;
}

h1 {
  @apply text-5xl font-bold mt-12 mb-2;
  color: #0a65a5;
  @apply tracking-tighter;
}

.prose {
  h2, h3, h4, p, img {
    @apply mt-6 mb-8;
  }

  h2, h3, h4 {
    @apply tracking-tight;
  }
}

ul.wp-block-post-template {
  @apply list-none;
  @apply grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4;
  @apply items-center;
  @apply gap-8;
  @apply rounded-xl;
  @apply bg-blue-50;
  @apply p-4;

  a {
    @apply text-gray-600;
    transition: color 0.2s ease-in-out;

    &:hover {
      @apply text-blue-900;
    }
  }
}

.container {
  @apply max-w-7xl mx-auto;
}

ul.subcategories-block {

  @apply w-full;
  @apply text-gray-500;
  @apply list-none;
  @apply gap-8;
  @apply p-8;
  @apply space-y-2;

  li {
    @apply relative pl-5;

    &::before {
      content: '';
      @apply absolute top-1/2 left-0 w-2 h-2 bg-amber-500 rounded-full;
      transform: translateY(-50%);
    }
  }


  img {
    @apply h-8 w-12;
  }

  a {
    @apply block w-full;

    @apply text-blue-900;
    @apply font-light;
    @apply tracking-tight;
    transition: color 0.2s ease-in-out;

    &:hover {
      @apply text-amber-700;
    }
  }

  li.active a {
    @apply font-bold;
  }
}

header {
  .wp-block-group {
    @apply py-0 my-0;
  }

  div {
    @apply py-0 my-0;
  }

  .header-main {
    @apply py-8;
  }
}

aside {
  @apply bg-cyan-100;
  @apply rounded-xl;
  @apply shadow;

  &.wp-block-group {
    @apply py-0 my-0;
  }
}

.related-posts-block {
  @apply mt-8;
  @apply list-none;
  @apply grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4;
  @apply items-center;
  @apply gap-8;
  @apply rounded-xl;
  @apply bg-blue-50;
  @apply p-4;

  a {
    @apply text-gray-600;
    transition: color 0.2s ease-in-out;

    &:hover {
      @apply text-blue-900;
    }
  }
}

.wp-block-post-author-name {
  @apply relative pl-8;

  &::before {
    content: '\f007';
    @apply absolute left-0 top-1/2 -translate-y-1/2;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 1rem;
    @apply text-gray-500;
  }
}

.wp-block-post-date {
  @apply relative pl-8;

  &::before {
    content: '\f133';
    @apply absolute left-0 top-1/2 -translate-y-1/2;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 1rem;
    @apply text-gray-500;
  }
}