@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

ul#breadcrumbs {
  @apply text-gray-500;
  @apply list-none;
  @apply flex;
  @apply items-center;
  @apply gap-8;
  @apply rounded-xl;
  @apply bg-blue-50;
  @apply p-4;
  @apply mx-0;

  a {
    @apply text-gray-600;
    transition: color 0.2s ease-in-out;

    &:hover {
      @apply text-blue-900;
    }
  }
}


.wp-block-term-description {
  @apply prose lg:prose-xl;
  @apply text-gray-700;
  @apply text-xl;
}

.category-long-description {
  @apply prose;
}

h1 {
  @apply text-5xl font-bold mt-12 mb-2;
  color: #0a65a5;
  @apply tracking-tighter;
}

.prose {
  h2, h3, h4, p, img {
    @apply mt-6 mb-8;
  }

  h2, h3, h4 {
    @apply tracking-tight;
  }
}

ul.wp-block-post-template {
  @apply list-none;
  @apply grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4;
  @apply items-center;
  @apply gap-8;
  @apply rounded-xl;
  @apply bg-blue-50;
  @apply p-4;

  a {
    @apply text-gray-600;
    transition: color 0.2s ease-in-out;

    &:hover {
      @apply text-blue-900;
    }
  }
}

.container {
  @apply max-w-7xl mx-auto;
}

ul.subcategories-block {

  @apply w-full;
  @apply text-gray-500;
  @apply list-none;
  @apply gap-8;
  @apply rounded-xl;
  @apply space-y-8;

  li {
    @apply shadow;
    @apply flex;
    @apply rounded-xl;
  }

  @apply p-8;

  img {
    @apply rounded-l-xl;
    @apply w-32;
  }

  a {
    @apply block w-full;
    @apply text-blue-800 font-bold py-2 px-4 inline-flex items-center;
    @apply rounded-r-xl;

    &:hover {
      @apply bg-blue-300;
      @apply text-blue-900;
    }
  }
}

header {
  .wp-block-group {
    @apply py-0 my-0;
  }

  div {
    @apply py-0 my-0;
  }

  .header-main {
    @apply py-8;
  }
}

aside {
  &.wp-block-group {
    @apply py-0 my-0;
  }
}