@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "_breadcrumbs.scss";
@import "_sidebar.scss";
@import "_home.scss";

.wp-block-term-description {
  @apply prose lg:prose-xl;
  @apply text-gray-700;
  @apply text-xl;
}

.category-long-description {
  @apply prose;
}

h1 {
  @apply text-5xl font-bold my-8;
  @apply text-cyan-700;
  @apply tracking-tighter;
}

.prose {
  h2, h3, h4, p, img {
    @apply mt-6 mb-8;
  }

  h2, h3, h4 {
    @apply tracking-tight;
  }
}

ul.wp-block-post-template {
  @apply list-none;
  @apply grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4;
  @apply items-center;
  @apply gap-8;
  @apply bg-blue-50;
  @apply p-4;

  a {
    @apply text-gray-600;
    transition: color 0.2s ease-in-out;

    &:hover {
      @apply text-amber-500;
    }
  }
}

.container {
  @apply max-w-7xl mx-auto;
}

.wp-block-group {
  @apply py-0 my-0;
}

header {
  @apply bg-cyan-900;


  div {
    @apply py-0 my-0;
  }

  .header-main {
    @apply py-8;
  }
}

.related-posts-block {
  @apply mt-8;
  @apply list-none;
  @apply items-center;
  @apply gap-8;
  @apply border border-cyan-900 shadow;
  @apply divide-y divide-cyan-900;

  li {
    @apply p-4;

    a {
      @apply block p-4;
      @apply bg-white;
      @apply text-gray-600;
      @apply flex gap-8;
      transition: color 0.2s ease-in-out;

      &:hover {
        @apply text-amber-500;
      }

      img {
        @apply w-16;
      }

      @apply hover:text-amber-500;
    }
  }
}

.info-column {
  @apply bg-gray-200 text-gray-800 p-4;
}

.wp-block-post-author-name {
  @apply relative pl-8;

  &::before {
    content: '\f007';
    @apply absolute left-0 top-1/2 -translate-y-1/2;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 1rem;
    @apply text-gray-500;
  }
}

.wp-block-post-date {
  @apply relative pl-8;

  &::before {
    content: '\f133';
    @apply absolute left-0 top-1/2 -translate-y-1/2;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 1rem;
    @apply text-gray-500;
  }
}

.has-global-padding > .alignfull {
  @apply mx-8;
}

.wp-post-image, .category-image-block img {
  @apply w-full;
  @apply h-auto;
  @apply shadow;
}

.wp-block-site-title a {
  @apply text-4xl;
  @apply text-white;
  @apply font-bold;
  @apply tracking-tighter;
}

.prose li p {
  @apply my-2;
}

.wp-block-template-part {
  @apply my-0;
}

nav.menu-primary {
  @apply border-t border-cyan-700;

  ul {
    @apply my-4;
    @apply flex gap-8;

    li {
      @apply uppercase;
      @apply text-gray-200;
      @apply font-semibold;
    }
  }
}

footer {
  @apply bg-cyan-900;
  @apply text-gray-200;

  .footer-categories-container {
    @apply mt-8 pt-8;
    @apply max-w-7xl mx-auto;
    @apply flex gap-8;
    flex-wrap: wrap;

    .footer-category {
      flex: 1 1 auto;

      a {
        @apply block mb-2;
        @apply font-bold;
        @apply text-gray-100 hover:text-amber-500;
        transition: color 0.2s ease-in-out;
      }

      ul li a {
        @apply font-normal tracking-tight;
        @apply mb-0;
      }
    }
  }
}
